body
{
    background-image: url(https://s44783.pcdn.co/in/wp-content/uploads/sites/3/2022/06/cybersecurity-master-768x379.jpg.optimal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo
{
    border-radius: 50%;
    border-color: black;
    width: 70px;
    height: 70px;
}

footer
{
    color: black;
    text-align: center;
}
header
{
    color: white;
    margin-left: 36%;
    font-size: xx-large;
}
#navbar
{
    display: flex;
}

#foot
{
    margin-top: 300px;
    background-color:white;
    text-align: center;
    height: 80px;
}
.tips
{
    background-color: rgb(212, 211, 211);
    width: 250px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 20%;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    text-align: center;
}

.container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.course-card
{
    width: 250px;
    height: 300px;
    border-radius: 10%;
    background-color: cornsilk;
    margin-top: 8%;
    text-align: center;

}
.courses
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10%;
}
#banners
{
    margin-top: 10%;
    width:90%;
    height:100%;
    border-radius: 20%;
}

#buttons
{
    background-color:rgb(252, 142, 9);
    margin-top: 15%;
    width: 150px;
    height: 50px;
    border-radius: 25%;

}