#table3
{
    background-color: darksalmon;
    border-color: brown;
}

#row3
{
    background-color: darkgray;
}

.colorin
{
    background-color: blanchedalmond;
}

.coloring
{
    background-color: rgb(210, 240, 240);
}